---
---
@import "minima";

body {
  @media screen and (max-width: 800px) {
    font-size: 18px !important;
    line-height: 1.6;
    padding: 0 15px;
  }
}

img {
  max-width: 100%;
  height: auto;
}
